{% extends 'maps/navbar.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'users/main.css' %}">
{%endblock%}

{% block content %}
<div class="container">



            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img class="img-fluid img-thumbnail" alt="" >
                </div>
                <div class="info">
                    <div class="title">
                        <h1 class="name">Nirob Hasan</h1>
                        <h3 class="name">Developer</h3>
                    </div>
                    <div class="desc">Student of North South University</div>
                    <div class="desc">Computer Science and Engineering</div>
                    <div class="desc">EMAIL: nirob.hasan@northsouth.edu</div>
                </div>
                <div class="bottom">
                  <a class="btn btn-primary btn-sm" rel="publisher"
                     href="https://www.facebook.com/nirobxhasan">
                      <i class="fa fa-facebook"></i>
                  </a>
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/Thenirobhasan">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://www.linkedin.com/in/nirobxhasan/">
                        <i class="fa fa-linkedin"></i>
                    </a>

                    <a class="btn btn-primary btn-sm" rel="publisher" href="https://github.com/NirobxHasan/">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
        </div>
        <br>
        <h1 align="center">Contributor</h1>
        <br>
        <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar bikram">
                    <img class="img-fluid img-thumbnail" alt="" >
                </div>
                <div class="info">
                    <div class="title">
                        <h1 class="name">Bikram Roy</h1>
                        
                    </div>
                    <div class="desc">Student of North South University</div>
                    <div class="desc">Computer Science and Engineering</div>
                    <div class="desc">EMAIL: bikram.roy@northsouth.edu</div>
                </div>
                <div class="bottom">
                  <a class="btn btn-primary btn-sm" rel="publisher"
                     href="https://www.facebook.com/stevemiester.roy92">
                      <i class="fa fa-facebook"></i>
                  </a>
                    <!-- <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/Thenirobhasan">
                        <i class="fa fa-twitter"></i>
                    </a> -->
                    <!-- <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://www.linkedin.com/in/nirobxhasan/">
                        <i class="fa fa-linkedin"></i>
                    </a> -->

                    <a class="btn btn-primary btn-sm" rel="publisher" href="https://github.com/bikram-roy">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
	    </div>



</div>

{% endblock %}
