{% extends 'maps/navbar.html' %}
{% load static %}


{% block title %}

{% endblock title %}

    
{% block header %}
<!-- #Chartjs -->
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% endblock %}

{% block script %}{
<script>
    $(document).ready(function(){

        //Day Basis 
        var ctx = document.getElementById('dailyBased').getContext('2d');
        var color=["#bf0000","#99008c","#00C2A8","#8c4d15","#8bc34a","#607d8b","#009688"];

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Death',
                    backgroundColor: "transparent",
                    borderColor: color[0],
                    pointBackgroundColor: color[0],
                    pointBorderColor: color[0],
                    pointHoverBackgroundColor:color[0],
                    pointHoverBorderColor: color[0],
                    data: [{% for item in qs %}{{item.today_death}},{% endfor %}],
                
                    borderColor: color[0],
                
                }, {
                    label: 'Confirmed',
                    backgroundColor: "transparent",
                    borderColor: color[1],
                    pointBackgroundColor: color[1],
                    pointBorderColor: color[1],
                    pointHoverBackgroundColor:color[1],
                    pointHoverBorderColor: color[1],
                    data: [{% for item in qs %}{{item.today_confirmed}},{% endfor %}],
                    borderColor: color[1],

                    // Changes this dataset to become a line
                    type: 'line'
                },
                {
                    label: 'Recovered',
                    backgroundColor: "transparent",
                    borderColor: color[2],
                    pointBackgroundColor: color[2],
                    pointBorderColor: color[2],
                    pointHoverBackgroundColor:color[2],
                    pointHoverBorderColor: color[2],
                    data: [{% for item in qs %}{{item.today_recovered}},{% endfor %}],
                    borderColor: color[2],

                    // Changes this dataset to become a line
                    type: 'line'
                }
                
                ],
                labels: [{% for item in qs %}'{{item.date_posted|date:"d M"}}',{% endfor %}]
            },
            options: {

                

                scales: {


                    xAxes: [{
                        ticks: {
                        autoSkip: true,
                        maxRotation: 90,
                        minRotation: 90
                        }
                    }],

                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });




        //Total Basis 
        var ctx = document.getElementById('totalBased').getContext('2d');
        var color=["#bf0000","#99008c","#00C2A8","#8c4d15","#8bc34a","#607d8b","#009688"];

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Total Death',
                    backgroundColor: "transparent",
                    borderColor: color[0],
                    pointBackgroundColor: color[0],
                    pointBorderColor: color[0],
                    pointHoverBackgroundColor:color[0],
                 pointHoverBorderColor: color[0],
                    data: [{% for item in qs %}{{item.total_death}},{% endfor %}],
                
                    borderColor: color[0],
                
                }, {
                    label: 'Total Confirmed',
                    backgroundColor: "transparent",
                    borderColor: color[1],
                    pointBackgroundColor: color[1],
                    pointBorderColor: color[1],
                    pointHoverBackgroundColor:color[1],
                    pointHoverBorderColor: color[1],
                    data: [{% for item in qs %}{{item.total_confirmed}},{% endfor %}],
                    borderColor: color[1],

                    // Changes this dataset to become a line
                    type: 'line'
                },
                {
                    label: 'Total Recovered',
                    backgroundColor: "transparent",
                    borderColor: color[2],
                    pointBackgroundColor: color[2],
                    pointBorderColor: color[2],
                    pointHoverBackgroundColor:color[2],
                    pointHoverBorderColor: color[2],
                    data: [{% for item in qs %}{{item.total_recovered}},{% endfor %}],
                    borderColor: color[2],

                    // Changes this dataset to become a line
                    type: 'line'
                }
                
                ],
                labels: [{% for item in qs %}'{{item.date_posted|date:"d M"}}',{% endfor %}]
            },
            options: {

                

                scales: {


                    xAxes: [{
                        ticks: {
                        autoSkip: true,
                        maxRotation: 90,
                        minRotation: 90
                        }
                    }],

                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


        //Total quarantine
        var ctx = document.getElementById('totalQuarantine').getContext('2d');
        var color=["#ff6384","#5959e6","#2babab","#8c4d15","#8bc34a","#607d8b","#009688"];

        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                datasets: [{
                    label: 'rader',
                    
                    backgroundColor: ["#ffbb00", "#78e602","#4e02e6"],
                    
                    data: [{{qs.last.total_quarantine}}, {{qs.last.released_quarantine}}, {{qs.last.present_quarantine}}],
                
                },
                //  {
                //     label: 'Line Dataset',
                //     data: [12, 22],
                //     borderColor: color[4],

                //     // Changes this dataset to become a line
                //     type: 'polarArea'
               // }
                ],
                labels: [
                    'Total Quarantine',
                    'Released Quarantine',
                    'Present Quarantine'
                ]
            },
            options: {
                
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


        //Total isolation
        var ctx = document.getElementById('totalIsolation').getContext('2d');
        var color=["#ff6384","#5959e6","#2babab","#8c4d15","#8bc34a","#607d8b","#009688"];

        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                datasets: [{
                    label: 'rader',
                    backgroundColor: ["#4B4453", "#009EFA","#C34A36"],
                    data: [{{qs.last.total_isolation}}, {{qs.last.released_isolation}}, {{qs.last.present_isolation}}],
                
                },
                //  {
                //     label: 'Line Dataset',
                //     data: [12, 22],
                //     borderColor: color[4],

                //     // Changes this dataset to become a line
                //     type: 'polarArea'
               // }
                ],
                labels: [
                    'Total Isolation',
                    'Released Isolation',
                    'Present Isolation'
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

//modal graph

        //daily-confirmed    
        var color=["#474747"];
        new Chart(document.getElementById("daily-confirmed"), {
            type: 'bar',
            data: {
            labels: [{% for item in qs %}'{{item.date_posted|date:"d M"}}',{% endfor %}],
            datasets: [
                {
                label: "Confirmed case",
                backgroundColor: color[0],
                data: [{% for item in qs %}{{item.today_confirmed}},{% endfor %}],
                }
            ]
            },
            options: {
                scales: {


                    xAxes: [{
                        ticks: {
                        autoSkip: true,
                        maxRotation: 90,
                        minRotation: 90
                        }
                    }],
                    },
            legend: { display: false },
            title: {
                display: true,
                text: 'Daily based Confirmed cases'
            }
            }
        });


        //daily-death    
        var color=["#c70000"];
        new Chart(document.getElementById("daily-death"), {
            type: 'bar',
            data: {
            labels: [{% for item in qs %}'{{item.date_posted|date:"d M"}}',{% endfor %}],
            datasets: [
                {
                label: "Death",
                backgroundColor: color[0],
                data: [{% for item in qs %}{{item.today_death}},{% endfor %}],
                }
            ]
            },
            options: {
                scales: {


                    xAxes: [{
                        ticks: {
                        autoSkip: true,
                        maxRotation: 90,
                        minRotation: 90
                        }
                    }],
                    },
            legend: { display: false },
            title: {
                display: true,
                text: 'Daily based Death cases'
            }
            }
        });

        //daily-recovered   
        var color=["#009c05"];
        new Chart(document.getElementById("daily-recovered"), {
            type: 'bar',
            data: {
            labels: [{% for item in qs %}'{{item.date_posted|date:"d M"}}',{% endfor %}],
            datasets: [
                {
                label: "Recovered",
                backgroundColor: color[0],
                data: [{% for item in qs %}{{item.today_recovered}},{% endfor %}],
                }
            ]
            },
            options: {
                scales: {


                    xAxes: [{
                        ticks: {
                        autoSkip: true,
                        maxRotation: 90,
                        minRotation: 90
                        }
                    }],
                    },
            legend: { display: false },
            title: {
                display: true,
                text: 'Daily based Recovered cases'
            }
            }
        });
        //daily-tested    
        var color=["#00709c"];
        new Chart(document.getElementById("daily-tested"), {
            type: 'bar',
            data: {
            labels: [{% for item in qs %}'{{item.date_posted|date:"d M"}}',{% endfor %}],
            datasets: [
                {
                label: "Tested",
                backgroundColor: color[0],
                data: [{% for item in qs %}{{item.today_tested}},{% endfor %}],
                }
            ]
            },
            options: {
                scales: {


                    xAxes: [{
                        ticks: {
                        autoSkip: true,
                        maxRotation: 90,
                        minRotation: 90
                        }
                    }],
                    },
            legend: { display: false },
            title: {
                display: true,
                text: 'Daily based Tested cases'
            }
            }
        });


    });

    





</script>

<style>
    .card-title{
        color:rgb(223, 223, 223);
        align: center;
    }
</style>
{% endblock script %}


{% block content %}
<br/> <br/>
<br/> <br/> 
<div class="container">

    <div class="container">
        <div class="row justify-content-md-center">
            
            <div class="col-md">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header text-center"><h3 style="color:rgb(223, 223, 223);">Today Confirmed Cases</h3></div>
                <div class="card-body">
                    <h2 class="card-title text-center">{{qs.last.today_confirmed}}</h2>
                    
                </div>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#dailyconfirmed">
                    Daily Based Confirmed Graph
                </button>
                </div>
            </div>
            <div class="col-md">
                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header text-center"><h3 style="color:rgb(223, 223, 223);">Today Death</h3></div>
                    <div class="card-body">
                        <h2 class="card-title text-center">{{qs.last.today_death}}</h2>
                        
                    </div>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#dailydeath">
                        Daily Based Death Graph
                    </button>
                </div>
            </div>
            <div class="col-md">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header text-center"><h3 style="color:rgb(223, 223, 223);">Today Recovered</h3></div>
                <div class="card-body">
                    <h2 class="card-title text-center">{{qs.last.today_recovered}}</h2>
                    
                </div>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#dailyrecoverd">
                    Daily Based Recovered Graph
                </button>
                </div>
            </div>
            <div class="col-md">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header text-center"><h3 style="color:rgb(223, 223, 223);">Today Tested</h3></div>
                    <div class="card-body">
                        <h2 class="card-title text-center">{{qs.last.today_tested}}</h2>
                    </div>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#dailytested">
                        Daily Based tested Graph
                    </button>
                    </div>
                </div>
        </div>
        <br>
        <div class="row justify-content-md-center">
            
            <div class="col-md">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header text-center"><h3 style="color:rgb(223, 223, 223);">Total Confirmed Cases</h3></div>
                <div class="card-body">
                    <h2 class="card-title text-center">{{qs.last.total_confirmed}}</h2>
                    
                </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header text-center"><h3 style="color:rgb(223, 223, 223);">Total Death</h3></div>
                    <div class="card-body">
                        <h2 class="card-title text-center">{{qs.last.total_death}}</h2>
                    </div>
                </div>
            </div>
            <div class="col-md">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header text-center"><h3 style="color:rgb(223, 223, 223);">Total Recovered</h3></div>
                <div class="card-body">
                    <h2 class="card-title text-center">{{qs.last.total_recovered}}</h2>
                </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header text-center"><h3 style="color:rgb(223, 223, 223);">Total Tested</h3></div>
                    <div class="card-body">
                        <h2 class="card-title text-center">{{qs.last.total_tested}}</h2>
                    </div>
                    </div>
                </div>
        </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <h1>Total Based</h1>
        <canvas id="totalBased" width="400" height="300"></canvas>
       
      </div>
      <div class="col-sm">
        <h1>Daily Based</h1>
        <canvas id="dailyBased" width="400" height="300"></canvas>
      </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h1>Quarantine Chart</h1>  
          <canvas id="totalQuarantine" width="400" height="300"></canvas>
        </div>
        <div class="col-sm">
            <h1>Isolation Chart</h1> 
          <canvas id="totalIsolation" width="400" height="300"></canvas>
        </div>
      </div>
     
  </div>

<!-- Modal -->
<!-- daily confirmed_case -->
<div class="modal fade" id="dailyconfirmed" tabindex="-1" role="dialog" aria-labelledby="dailyconfirmedTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dailyconfirmedTitle"> Daily Based Confirmed Graph</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <canvas id="daily-confirmed" width="800" height="500"></canvas>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

  <!-- daily Death_cases -->
<div class="modal fade" id="dailydeath" tabindex="-1" role="dialog" aria-labelledby="dailydeathTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dailydeathTitle">Daily Based Death Graph</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <canvas id="daily-death" width="800" height="500"></canvas>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  <!-- daily recoverd_case -->
<div class="modal fade" id="dailyrecoverd" tabindex="-1" role="dialog" aria-labelledby="dailyrecoverdTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dailyrecoverdTitle">Daily Based Recovered Graph</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <canvas id="daily-recovered" width="800" height="500"></canvas>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

  <!-- daily tested_cases -->
<div class="modal fade" id="dailytested" tabindex="-1" role="dialog" aria-labelledby="dailytestedTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dailytestedTitle">Daily Based Tested Graph</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <canvas id="daily-tested" width="800" height="500"></canvas>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

  

{% endblock content %}
